.c1{
    width: 100%;
    height: 14rem;
    padding: 4rem 3.5rem 0rem 3.5rem;
}

.c1-1{
    width: 50%;
    height: 9rem
}

.c1-1 p{
    font-size: 0.9rem;
}

.explore{
    width: 5rem;
    height: 2rem;
    border-radius: 10rem;
    background: orange;
    cursor: pointer;
}

.c1-2{
    width: 50%;
    /*height: 100%;*/
}

.c1-3{
    width: 100%;
    height: 9rem;
}

.blk1{
    width: 5rem;
    height: 4rem;
    background: lightgray;
}

.blk2{
    width: 5rem;
    height: 4rem;
    background: lightgray;
}

.blk3{
    width: 4rem;
    height: 9rem;
    background: lightgray;
}

.c2{
    width: 100%;
    height: 10rem;
    padding: 0rem 3.5rem 0rem 3.5rem;
}

.parent{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.c2-1{
    position: absolute;
    width: 100%;
    height: 100%;
}

.c2-1:hover{
    transition: 0.6s ease;
    transform:scale(1.1);
}

.parent h4{
    position: absolute;
    color: white;
    left: 0.6rem;
    bottom: 0.6rem;
}

.c3{
    width: 100%;
    /*height: 11rem;*/
    padding: 1rem 3.5rem 0 3.5rem;
    margin-bottom: 3rem;
}

.c3-1{
    width: 50%;
    height: 6.5rem;
}

.titel{
    margin-left: 0.4rem;
    width: 50%;
    font-size: 16px;
    text-align: left;
    padding-bottom: 0.3rem;
}

.titel p{
    font-size: 0.8rem;
}

.brita{
    color: black;
    transition: background 0.5s ease;
    text-decoration: none;
    padding-right: 0.3rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.brita:hover{
    background: lightgray;
    cursor: pointer;
}