.row{
    display: flex;
}

.row-fs{
    display: flex;
    justify-content: flex-start;
}

.row-fe{
    display: flex;
    justify-content: flex-end;
}

.row-c{
    display: flex;
    justify-content: center;
    align-items: center;

}

.row-sb{
    display: flex;
    justify-content: space-between;
}

.col{
    display: flex;
    flex-direction: column;
}

.col-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}